@import url("https://fonts.googleapis.com/css?family=Open+Sans:700"); 
*{
	scroll-behavior: smooth;
	
	box-sizing: border-box;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	
  }
   
  .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f44336;
	-webkit-transition: .4s;
	transition: .4s;
	box-shadow: 0 0 17px -5px rgb(57 72 235 / 65%);
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #53d919;
  }
  
  
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
::-webkit-scrollbar {
	width: 9px;
	border-radius: 10px;;
  }
  
  ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
  }


 
 body {
	background-color: #342E37;
	color: #FFEEDB;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
	margin-top: 80px;
	padding: 30px;
}

header {
    background-color: #ADA8B6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	 height: 80px;
	display: flex;
	align-items: center;
    height: max-content;
	color: #342E37;
	box-shadow: 0 0 25px 0 black;
}
.nv_lg_cnt{
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}
header li {
    margin: 20px;
}

header * {
	display: inline;
}

h1 {
	text-align: center;
}
.h3 {
	text-align: center;
}

.logo {
    height: 70px;
	margin-left: 40px;
}
/* Thanks to nickymeuleman for this! */
a {
  color: inherit;
  text-decoration: none;
}

/* Underline styles - details of technique here: https://nickymeuleman.netlify.app/blog/css-animated-wrapping-underline */
a {
 background: linear-gradient(to right, rgba(100, 200, 200, 0.8), rgba(100, 200, 200, 0)),
 linear-gradient(to right, rgb(255 32 0 / 80%), rgb(241 0 0), rgba(0, 100, 200, 0));
  background-size: 100% 0.2em, 0 0.2em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 700ms;
  border-radius: 10px;
  padding-top: 0.1rem;
    padding-bottom: 0.1em;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
  box-shadow: #0E6BA8 0px 0px 20px 0px inset;
border: 3px ridge #874949;

}

a:hover,
a:focus {
  background-size: 0 0.2em, 100% 0.2em;
}
footer{
	display: flex;
	align-self: stretch;
	border-top: 2px solid #ADA8B6;
	z-index: 9999;

}
footer ul{
	list-style: none;

}
.footer{
	margin-bottom: 15px;
	margin-top: 10px;
	width: 100%;
}
.tp_bnr{
	padding-top: .3em;
	padding-bottom: .3em;
	margin-bottom: .3em;
	text-align: center;
	display: block;
	background-color: rgb(100,100,100);
}

.google {
	display: block;
	width: 70vw;
    height: 70vh;
	background-color: black;
}
#particles-js canvas{
	z-index: -1 !important;
}
#particles-js{
	z-index: -1 !important;
}

#abort1 {
	display: none;
	color: red;
	font-size: 1em;
}

#settings {
	text-align: center;
	position: absolute;
        top: 70px;
        right: 10px;

		padding: 10px;
		border: 5px solid gray;
		margin: 0;
	display: block;
}

#setting {
	cursor: pointer;
}

.games {
	text-align: center;
}